# Actividad 2.1

- Jorge Emiliano Pomar
- A01709338
- 17 de febrero de 2025

## **Índice**

- [Ejercicio 1](#Ejercicio-1)
- [Ejercicio 2](#Ejercicio-2)
- [Ejercicio 3](#Ejercicio-3)
- [Ejercicio 4](#Ejercicio-4)
- [Ejercicio 5](#Ejercicio-5)
- [Ejercicio 6](#Ejercicio-6)
- [Ejercicio 7](#Ejercicio-7)
- [Ejercicio 8](#Ejercicio-8)
- [Ejercicio 9](#Ejercicio-9)
- [Ejercicio 10](#Ejercicio-10)

## **Ejercicio 1**

(15 pts) Crearán un DataFrame con la información de 5 personas por cada miembro (puede ser ficticia) según los siguientes criterios:

    Columnas: Talla (altura en mts.), Peso (kgs) y color favorito
    Índices: Nombres de las personas
    Finalmente, incluirán una consulta donde mostrarán los colores favoritos de aquellas personas con peso menor al promedio.

In [1]:
import pandas as pd

tallas = [1.60, 1.90, 1.85, 1.56, 1.40]
pesos = [60, 66, 56, 43, 54]
colores = ["rojo", "amarillo", "azul", "morado", "naranja"]
indices = ["Valeria", "Tomás", "Alejandro", "Daniela", "Jorge"]

df = pd.DataFrame(
    {"Talla": tallas, "Peso": pesos, "Color Favorito": colores}, index=indices
)
df

           Talla  Peso Color Favorito
Valeria     1.60    60           rojo
Tomás       1.90    66       amarillo
Alejandro   1.85    56           azul
Daniela     1.56    43         morado
Jorge       1.40    54        naranja

## **Ejercicio 2**

(7 pts) Agrega una columna donde calculen el IMC (usando ufuncs)

In [2]:
df["IMC"] = df["Peso"] / (df["Talla"] ** 2)
df

           Talla  Peso Color Favorito        IMC
Valeria     1.60    60           rojo  23.437500
Tomás       1.90    66       amarillo  18.282548
Alejandro   1.85    56           azul  16.362308
Daniela     1.56    43         morado  17.669297
Jorge       1.40    54        naranja  27.551020

## **Ejercicio 3**

(7 pts) Agrega 1 columna para salario mensual. Sugerencia: puedes investigar la función numpy.random para generar números aleatorios.

In [3]:
import numpy as np

salarios = np.random.randint(8000, 300000, size=len(df))
df["SalarioMensual"] = salarios
df

           Talla  Peso Color Favorito        IMC  SalarioMensual
Valeria     1.60    60           rojo  23.437500          230250
Tomás       1.90    66       amarillo  18.282548           28456
Alejandro   1.85    56           azul  16.362308          122408
Daniela     1.56    43         morado  17.669297           77368
Jorge       1.40    54        naranja  27.551020          123150

## **Ejercicio 4**

(10 pts) Agrega 2 nuevas columnas con el salario mensual e IMC relativos al promedio.

In [4]:
df["IMCRelativos"] = df["IMC"] / df["IMC"].mean() * 100
df

           Talla  Peso Color Favorito        IMC  SalarioMensual  IMCRelativos
Valeria     1.60    60           rojo  23.437500          230250    113.440917
Tomás       1.90    66       amarillo  18.282548           28456     88.490200
Alejandro   1.85    56           azul  16.362308          122408     79.195957
Daniela     1.56    43         morado  17.669297           77368     85.521971
Jorge       1.40    54        naranja  27.551020          123150    133.350955

In [5]:
df["Salarios_Relativos"] = df["SalarioMensual"] / df["SalarioMensual"].mean() * 100
df

,Talla,Peso,Color Favorito,IMC,SalarioMensual,IMCRelativos,Salarios_Relativos
Valeria,1.60,60,rojo,23.437500,230250,113.440917,197.934433
Tomás,1.90,66,amarillo,18.282548,28456,88.490200,24.462203
Alejandro,1.85,56,azul,16.362308,122408,79.195957,105.228048
Daniela,1.56,43,morado,17.669297,77368,85.521971,66.509408
Jorge,1.40,54,naranja,27.551020,123150,133.350955,105.865908

## **Ejercicio 5**

(7 pts) Borra mediante los 3 métodos vistos las columnas IMC, IMC mensual relativo y salario mensual relativo.

In [ ]:
# 1 drop
df.drop("IMCRelativos", axis=1)

# 2 pop
df.pop("Salarios_Relativos")

# 3 del
del df["IMC"]

df

           Talla  Peso Color Favorito  SalarioMensual
Valeria     1.60    60           rojo          230250
Tomás       1.90    66       amarillo           28456
Alejandro   1.85    56           azul          122408
Daniela     1.56    43         morado           77368
Jorge       1.40    54        naranja          123150

## **Ejercicio 6**

(10 pts) Agrega 3 filas con nuevos registros de personas.

In [7]:
df.loc["Iván"] = [1.63, 72, "rosa", 30000]


df.loc["Maru"] = [1.54, 49, "plateado", 40000]

df.loc["Ana"] = [1.70, 54, "negro", 50000]

df

           Talla  Peso Color Favorito  SalarioMensual
Valeria     1.60    60           rojo          230250
Tomás       1.90    66       amarillo           28456
Alejandro   1.85    56           azul          122408
Daniela     1.56    43         morado           77368
Jorge       1.40    54        naranja          123150
Iván        1.63    72           rosa           30000
Maru        1.54    49       plateado           40000
Ana         1.70    54          negro           50000

## **Ejercicio 7**

(7 pts) Muestra los resultados de la exploración del dataframe (diapositivas 10-11)

### 1. df - muestra los primeros 30

In [8]:
df

           Talla  Peso Color Favorito  SalarioMensual
Valeria     1.60    60           rojo          230250
Tomás       1.90    66       amarillo           28456
Alejandro   1.85    56           azul          122408
Daniela     1.56    43         morado           77368
Jorge       1.40    54        naranja          123150
Iván        1.63    72           rosa           30000
Maru        1.54    49       plateado           40000
Ana         1.70    54          negro           50000

### 2. type - muestra el tipo de datos

In [9]:
type(df)

pandas.core.frame.DataFrame

### 3. head - muestra las primeras 5 filas

In [10]:
df.head()

           Talla  Peso Color Favorito  SalarioMensual
Valeria     1.60    60           rojo          230250
Tomás       1.90    66       amarillo           28456
Alejandro   1.85    56           azul          122408
Daniela     1.56    43         morado           77368
Jorge       1.40    54        naranja          123150

### 4. tail - muestra las últimas 5 filas

In [11]:
df.tail()

         Talla  Peso Color Favorito  SalarioMensual
Daniela   1.56    43         morado           77368
Jorge     1.40    54        naranja          123150
Iván      1.63    72           rosa           30000
Maru      1.54    49       plateado           40000
Ana       1.70    54          negro           50000

### 5. index - muestra los labels

In [12]:
df.index

Index(['Valeria', 'Tomás', 'Alejandro', 'Daniela', 'Jorge', 'Iván', 'Maru',
       'Ana'],
      dtype='object')

### 6. columns - muestra las columnas

In [13]:
df.columns

Index(['Talla', 'Peso', 'Color Favorito', 'SalarioMensual'], dtype='object')

### 7. dtypes - muestra los tipos de datos de cada columna

In [14]:
df.dtypes

Talla             float64
Peso                int64
Color Favorito     object
SalarioMensual      int64
dtype: object

### 8. shape - muestra numero de filas y columnas

In [15]:
df.shape

(8, 4)

### 9. values - numpy array

In [16]:
df.values

array([[1.6, 60, 'rojo', 230250],
       [1.9, 66, 'amarillo', 28456],
       [1.85, 56, 'azul', 122408],
       [1.56, 43, 'morado', 77368],
       [1.4, 54, 'naranja', 123150],
       [1.63, 72, 'rosa', 30000],
       [1.54, 49, 'plateado', 40000],
       [1.7, 54, 'negro', 50000]], dtype=object)

### 10. info() - resume la info del dataframe

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, Valeria to Ana
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Talla           8 non-null      float64
 1   Peso            8 non-null      int64
 2   Color Favorito  8 non-null      object
 3   SalarioMensual  8 non-null      int64
dtypes: float64(1), int64(2), object(1)
memory usage: 320.0+ bytes

## **Ejercicio 8**

(10 puntos) Agrega una columna derivada que indique si el salario es mayor o menor al promedio.

In [18]:
salarios_promedios = df["SalarioMensual"].mean()
df["mayor_menor"] = [
    "Mayor" if i >= salarios_promedios else "Menor" for i in df["SalarioMensual"]
]
df

           Talla  Peso Color Favorito  SalarioMensual mayor_menor
Valeria     1.60    60           rojo          230250       Mayor
Tomás       1.90    66       amarillo           28456       Menor
Alejandro   1.85    56           azul          122408       Mayor
Daniela     1.56    43         morado           77368       Menor
Jorge       1.40    54        naranja          123150       Mayor
Iván        1.63    72           rosa           30000       Menor
Maru        1.54    49       plateado           40000       Menor
Ana         1.70    54          negro           50000       Menor

## **Ejercicio 9**

(12 pts) Agrega una columna Boolean que indique si el color favorito es cálido o frío.

In [19]:
calidos = ["rojo", "amarillo", "naranja"]
df["calido_frio"] = [
    "Cálido" if color in calidos else "Frío" for color in df["Color Favorito"]
]
df

           Talla  Peso Color Favorito  SalarioMensual mayor_menor calido_frio
Valeria     1.60    60           rojo          230250       Mayor      Cálido
Tomás       1.90    66       amarillo           28456       Menor      Cálido
Alejandro   1.85    56           azul          122408       Mayor        Frío
Daniela     1.56    43         morado           77368       Menor        Frío
Jorge       1.40    54        naranja          123150       Mayor      Cálido
Iván        1.63    72           rosa           30000       Menor        Frío
Maru        1.54    49       plateado           40000       Menor        Frío
Ana         1.70    54          negro           50000       Menor        Frío

## **Ejercicio 10**

(15 pts) Incluir 3 consultas simples y 3 consultas con múltiples condiciones lógicas. No olviden incluir una descripción de lo que realiza cada consulta.

### 1. Consulta simple: Seleccionar a las personas con peso mayor a 50 kg.

In [20]:
df[df['Peso'] > 50]

           Talla  Peso Color Favorito  SalarioMensual mayor_menor calido_frio
Valeria     1.60    60           rojo          230250       Mayor      Cálido
Tomás       1.90    66       amarillo           28456       Menor      Cálido
Alejandro   1.85    56           azul          122408       Mayor        Frío
Jorge       1.40    54        naranja          123150       Mayor      Cálido
Iván        1.63    72           rosa           30000       Menor        Frío
Ana         1.70    54          negro           50000       Menor        Frío

### 2. Consulta simple: Personas que miden más de 1.70 mts.

In [21]:
df[df['Talla'] > 1.70]

           Talla  Peso Color Favorito  SalarioMensual mayor_menor calido_frio
Tomás       1.90    66       amarillo           28456       Menor      Cálido
Alejandro   1.85    56           azul          122408       Mayor        Frío

### 3. Consulta simple: Personas que les gusta un color cálido.

In [22]:
df[df['calido_frio'] == 'Cálido']

         Talla  Peso Color Favorito  SalarioMensual mayor_menor calido_frio
Valeria    1.6    60           rojo          230250       Mayor      Cálido
Tomás      1.9    66       amarillo           28456       Menor      Cálido
Jorge      1.4    54        naranja          123150       Mayor      Cálido

### 4. Consulta multiple: Personas que miden más de 1.70 mts y les gusta un color cálido.

In [23]:
df[(df['Talla'] > 1.70) & (df['calido_frio'] == 'Cálido')]

       Talla  Peso Color Favorito  SalarioMensual mayor_menor calido_frio
Tomás    1.9    66       amarillo           28456       Menor      Cálido

### 5. Consulta multiple: Personas tienen un salario mayor al promedio y su color favorito es rojo.

In [29]:
df[(df['mayor_menor'] == 'Mayor') & (df['Color Favorito'] == 'rojo')]

         Talla  Peso Color Favorito  SalarioMensual mayor_menor calido_frio
Valeria    1.6    60           rojo          230250       Mayor      Cálido

### 6. Consulta multiple: Personas que pesan menos de 60kg y el salario es menor al promedio.

In [25]:
df[(df['Peso'] < 60) & (df['mayor_menor'] == 'Menor')]

         Talla  Peso Color Favorito  SalarioMensual mayor_menor calido_frio
Daniela   1.56    43         morado           77368       Menor        Frío
Maru      1.54    49       plateado           40000       Menor        Frío
Ana       1.70    54          negro           50000       Menor        Frío