# Lectura de fuentes de Datos con Pandas
Para este tema usaremos los archivos de ejemplo en [este folder](https://drive.google.com/drive/folders/1mSVesRg7VNjEmBE8laRQqW9Y7ull3OOX?usp=drive_link).

## Lectura de tablas en archivos planos

**Pandas** es una librería con gran potencial para lectura de datos. A continuación se enumeran algunas de las facilidades que presenta sus funciones de lectura:

* Lidiar con codificaciones extrañas
* Encabezados de tablas
* Columnas
* Parsear columnas de fechas
* Setear tipo de datos
* Encontrar y localizar datos inválidos
* Adjuntar datos a un .csv existente

Las funciones `read_csv()` y `read_table()` de **pandas** se utilizan para leer datos desde archivos, pero tienen algunas diferencias clave:

### Función read_csv
La función `read_csv()` de pandas se utiliza para leer archivos CSV (Comma-Separated Values) y convertirlos en un *DataFrame*.
* Delimitador por defecto: Utiliza una coma (`,`) como delimitador.
* Uso común: Ideal para archivos **CSV** (Comma-Separated Values).
* Parámetros adicionales: Permite especificar el delimitador usando el parámetro `sep`, aunque por defecto ya está configurado para archivos CSV.

In [33]:
# Comando bash para desplegar el contenido
!head dates.txt

"head" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [34]:
import pandas as pd

df = pd.read_csv('./Files/dates.txt') # sep: coma
df

       date product  price
0  1/1/2019       A     10
1  2/1/2020       B     20
2  3/1/1998       C     30

`sep`: Delimitador de los campos. Por defecto es una coma (`,`), pero puedes cambiarlo si el archivo usa otro delimitador.

In [35]:
!head data.csv

"head" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [36]:
pd.read_csv('./Files/data.csv', sep='|').head()

,Age,Sex,ID,Race,Country,Education,Education-Num,Marital Status,Relationship
0,39.0,Male,49084,White,United-States,Bachelors,13.0,Never-married,Not-in-family
1,50.0,Male,68553,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
2,38.0,Male,143654,White,United-States,HS-grad,9.0,Divorced,Not-in-family
3,53.0,Male,41510,Black,United-States,11th,7.0,Married-civ-spouse,Husband
4,28.0,Female,195025,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife

### Función read_table
* Delimitador por defecto: Utiliza una tabulación (`\t`) como delimitador.
* Uso común: Más adecuado para archivos de texto **tabulados**.
* Parámetros adicionales: También permite especificar otros delimitadores mediante el parámetro `sep`.

In [37]:
df = pd.read_table('./Files/dates.txt', sep=',') # sep: coma
df

       date product  price
0  1/1/2019       A     10
1  2/1/2020       B     20
2  3/1/1998       C     30

In [38]:
!cat test.txt

"cat" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [39]:
pd.read_table('./Files/test.txt', sep=' ')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

**header**: Este argumento de `read_csv()` indica la fila que se utilizará como nombres de las columnas. Por defecto es 0 (la primera fila) pero en algunos escenarios puede ser útil cambiar esto. Veámos:

In [40]:
# Caso sin cabecera
pd.read_table('./Files/test.txt', sep=' ', header=None)

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [41]:
# Caso con cabecera en 2da fila
pd.read_table('./Files/test.txt', sep=' ', header=1)

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

Podemos especificar otras cabecera de columnas con el argumento `names`:

In [42]:
pd.read_table('./Files/test.txt', sep=' ', names=['N1','N2','N3','N4','Mensaje'])

  N1  N2  N3  N4  Mensaje
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

El argumento `parse_dates` en la función `read_csv` de **pandas** se utiliza para especificar qué columnas del archivo CSV deben ser interpretadas como **fechas**. Esto permite que pandas convierta automáticamente esas columnas en objetos de tipo *datetime*, facilitando el análisis de datos temporales.

Nota: `parse_dates` puede usarse con una columna única, varias columnas y columnas combinadas (varias columnas que juntas forman una fecha).

In [43]:
!cat ./Files/dates.txt

"cat" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [44]:
df.info() # La columna date se tomó como object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     3 non-null      object
 1   product  3 non-null      object
 2   price    3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [45]:
df = pd.read_csv('./Files/dates.txt', parse_dates=['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     3 non-null      datetime64[ns]
 1   product  3 non-null      object
 2   price    3 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 204.0+ bytes

### Parseo manual de fechas

**Columnas combinadas**: Si tienes varias columnas que juntas forman una fecha (por ejemplo, año, mes y día), puedes pasarlas como una lista de listas.

In [46]:
!cat data_4.csv

"cat" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [47]:
pd.read_csv('./Files/data_4.csv')

   year  month  day product  price
0  2019      1    1       A     10
1  2020      1    2       B     20
2  2021      1    4       C     30
3  2019      1    5       D     40

In [48]:
df=pd.read_csv('./Files/data_4.csv', parse_dates=[['year', 'month', 'day']])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year_month_day  4 non-null      datetime64[ns]
 1   product         4 non-null      object
 2   price           4 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 228.0+ bytes

C:\Users\pomar\AppData\Local\Temp\ipykernel_21812\2875875891.py:1: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  df=pd.read_csv('./Files/data_4.csv', parse_dates=[['year', 'month', 'day']])

**Parseo indicando formato fecha y hora**

El argumento `date_format` en la función `read_csv` permite especificar una función personalizada para analizar las fechas al leer el archivo CSV. Esto es útil cuando las fechas en el archivo tienen un formato que no es reconocido automáticamente o cuando deseas aplicar una lógica específica al convertir las cadenas de texto en objetos de tipo `datetime`.

* Note: The argument 'date_parser' is deprecated and will be removed in a future version.

In [49]:
!cat data_6.csv

"cat" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [50]:
pd.read_csv('./Files/data_6.csv').info() # lo toma como un object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     3 non-null      object
 1   product  3 non-null      object
 2    price   3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [51]:
df = pd.read_csv('./Files/data_6.csv', parse_dates=['date'],
            date_format='%Y-%m-%d %H:%M:%S')
df

                 date product   price
0 2016-06-10 20:30:00       A      10
1 2016-07-01 19:45:30       B      20
2 2016-10-12 04:05:01       C      30

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     3 non-null      datetime64[ns]
 1   product  3 non-null      object
 2    price   3 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 204.0+ bytes

### Parseo de Booleanos
`read_csv` puede detectar automáticamente booleanos si se le indica.

“asistió” se refiere a la asistencia de un alumno y “Tarea” si completo la tarea o no.

In [53]:
!head encuesta.txt

"head" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [54]:
pd.read_csv('./Files/encuesta.txt').head()

  ID            asistio             Tarea    Comportamiento      Pago
0  cef3615d61b202f1dc794ef2746df14        1      ...
1  323e5a13644d18185c743c241407754        0      ...
2  b29a107e5cd062e654a63764157461d        0      ...
3  04a11e4bcb573a1261eb0d9948d32637       1      ...
4  9368291c3d5d5f5c8cdb1a575e18bec        1      ...

In [55]:
pd.read_csv('./Files/encuesta.txt', sep=' ').head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 137,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146
0,cef3615d61b202f1dc794ef2746df14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,323e5a13644d18185c743c241407754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b29a107e5cd062e654a63764157461d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,04a11e4bcb573a1261eb0d9948d32637,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9368291c3d5d5f5c8cdb1a575e18bec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
# delim_whitespace=True toma múltiples espacios consecutivos como uno solo
# index_col: usa X columna como ID
df = pd.read_csv('./Files/encuesta.txt', delim_whitespace=True, index_col='ID')
df.head()

C:\Users\pomar\AppData\Local\Temp\ipykernel_21812\1223664256.py:3: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv('./Files/encuesta.txt', delim_whitespace=True, index_col='ID')

                                  asistio  Tarea  Comportamiento Pago
ID
cef3615d61b202f1dc794ef2746df14         1    1.0             0.0   si
323e5a13644d18185c743c241407754         0    0.0             NaN   no
b29a107e5cd062e654a63764157461d         0    0.0             NaN   no
04a11e4bcb573a1261eb0d9948d32637        1    0.0             0.0   si
9368291c3d5d5f5c8cdb1a575e18bec         1    0.0             0.0   si

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, cef3615d61b202f1dc794ef2746df14 to df891ef669fb23701f6622f14843bda2
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   asistio         30 non-null     int64
 1   Tarea           30 non-null     float64
 2   Comportamiento  18 non-null     float64
 3   Pago            30 non-null     object
dtypes: float64(2), int64(1), object(1)
memory usage: 1.2+ KB

`dtype`: Define el tipo de datos para las columnas especificando con un diccionario.

Ejemplo

`df = pd.read_csv('archivo.csv', dtype={'columna1': 'str', 'columna2': 'int'})`

In [58]:
df = pd.read_csv('./Files/encuesta.txt',
                 delim_whitespace=True,
                 index_col='ID',
                 dtype={'asistio': bool, 'Tarea': bool})
df.info() # 'Comportamiento': bool, 'Pago': bool

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, cef3615d61b202f1dc794ef2746df14 to df891ef669fb23701f6622f14843bda2
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   asistio         30 non-null     bool
 1   Tarea           30 non-null     bool
 2   Comportamiento  18 non-null     float64
 3   Pago            30 non-null     object
dtypes: bool(2), float64(1), object(1)
memory usage: 1.8+ KB

C:\Users\pomar\AppData\Local\Temp\ipykernel_21812\183700401.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv('./Files/encuesta.txt',

**Hallazgos**:
* `Comportamiento` no se puede convertir a `bool` porque tiene valores `NaN`
* `Pago` no se puede convertir porque no se puede "inferir" de `Object` a `bool`

**Pistas**:
* `true_values`: Lista de cadenas que representan `True`.
* `false_values`: Lista de cadenas que representan `False`.
* `na_filter=True`: Busca y convierte valores `NaN` automáticamente.
* `na_filter=False`: Desactiva la búsqueda de `NaN`

In [59]:
df = pd.read_csv('./Files/encuesta.txt',
                 delim_whitespace=True,
                 index_col='ID',
                 dtype={'asistio': bool, 'Tarea': bool},
                 true_values=['si'], false_values=['no'])
df.sample(5) # Muestra 5 filas al azar

C:\Users\pomar\AppData\Local\Temp\ipykernel_21812\3894321364.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv('./Files/encuesta.txt',

                                  asistio  Tarea  Comportamiento  Pago
ID
e886db962a67fdf6cddbd4e85ea5d6e6    False   True             NaN  True
1f641566628797bf0f811701e818b2c      True   True             0.0  True
10c74fd18bddfb3e26c1878a853e7f8      True  False             0.0  True
b953218838a2f7057ec179cae0cf83ad     True  False             1.0  True
6dff182b452487f07a47596f314bddc     False   True             NaN  True

In [60]:
# na_filter: controlar si debe o no filtrar los valores que se consideran NaN
df = pd.read_csv('./Files/encuesta.txt',
                 delim_whitespace=True,
                 index_col='ID',
                 dtype={'asistio': bool, 'Tarea': bool},
                 true_values=['si','1.0'], false_values=['no','0.0','NaN'],
                 na_filter=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, cef3615d61b202f1dc794ef2746df14 to df891ef669fb23701f6622f14843bda2
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   asistio         30 non-null     bool
 1   Tarea           30 non-null     bool
 2   Comportamiento  30 non-null     bool
 3   Pago            30 non-null     bool
dtypes: bool(4)
memory usage: 1.4+ KB

C:\Users\pomar\AppData\Local\Temp\ipykernel_21812\313194492.py:2: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv('./Files/encuesta.txt',

In [61]:
df.sample(5)

                                  asistio  Tarea  Comportamiento   Pago
ID
e886db962a67fdf6cddbd4e85ea5d6e6    False   True           False   True
fb120d2658407cbedfd9f1136c94ac61     True  False            True   True
be38b0df499caf723af579aa6b173b0a    False   True           False  False
36f9d95975bfd2c89cfe75baca2d58d2     True  False           False   True
dd0e77eab270e4b67c19b0d6bbf621b     False  False           False  False

Hay más argumentos a explorar, por ejemplo:

* `index_col`: Especifica qué columna usar como índice del DataFrame.
```
df = pd.read_csv('archivo.csv', index_col=0)
# Usa la primera columna como índice
```

* `usecols`: Permite seleccionar un subconjunto de columnas a leer.
```
df = pd.read_csv('archivo.csv', usecols=['columna1', 'columna2'])
```

* `nrows`: Lee solo un número específico de filas.
```
df = pd.read_csv('archivo.csv', nrows=10)
# Lee solo las primeras 10 filas
```

## Hojas de cálculo
* Consisten en datos almacenados de forma tabular en filas y columnas.
* A diferencia de los archivos planos, pueden tener fórmulas y formato.
* Un solo archivo puede tener diferentes hojas de cálculo.

In [62]:
pd.read_excel?

Signature:
pd.read_excel(
    io,
    sheet_name: 'str | int | list[IntStrT] | None' = 0,
    *,
    header: 'int | Sequence[int] | None' = 0,
    names: 'SequenceNotStr[Hashable] | range | None' = None,
    index_col: 'int | str | Sequence[int] | None' = None,
    usecols: 'int | str | Sequence[int] | Sequence[str] | Callable[[str], bool] | None' = None,
    dtype: 'DtypeArg | None' = None,
    engine: "Literal['xlrd', 'openpyxl', 'odf', 'pyxlsb', 'calamine'] | None" = None,
    converters: 'dict[str, Callable] | dict[int, Callable] | None' = None,
    true_values: 'Iterable[Hashable] | None' = None,
    false_values: 'Iterable[Hashable] | None' = None,
    skiprows: 'Sequence[int] | int | Callable[[int], object] | None' = None,
    nrows: 'int | None' = None,
    na_values=None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool' = False,
    parse_dates: 'list | dict | bool' = False,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'dict[Hashable, str] | str | None' = None,
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    comment: 'str | None' = None,
    skipfooter: 'int' = 0,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
    engine_kwargs: 'dict | None' = None,
) -> 'DataFrame | dict[IntStrT, DataFrame]'
Docstring:
Read an Excel file into a ``pandas`` ``DataFrame``.

Supports `xls`, `xlsx`, `xlsm`, `xlsb`, `odf`, `ods` and `odt` file extensions
read from a local filesystem or URL. Supports an option to read
a single sheet or a list of sheets.

Parameters
----------
io : str, bytes, ExcelFile, xlrd.Book, path object, or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, and file. For file URLs, a host is
    expected. A local file could be: ``file://localhost/path/to/table.xlsx``.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method,
    such as a file handle (e.g. via builtin ``open`` function)
    or ``StringIO``.

    .. deprecated:: 2.1.0
        Passing byte strings is deprecated. To read from a
        byte string, wrap it in a ``BytesIO`` object.
sheet_name : str, int, list, or None, default 0
    Strings are used for sheet names. Integers are used in zero-indexed
    sheet positions (chart sheets do not count as a sheet position).
    Lists of strings/integers are used to request multiple sheets.
    Specify ``None`` to get all worksheets.

    Available cases:

    * Defaults to ``0``: 1st sheet as a `DataFrame`
    * ``1``: 2nd sheet as a `DataFrame`
    * ``"Sheet1"``: Load sheet with name "Sheet1"
    * ``[0, 1, "Sheet5"]``: Load first, second and sheet named "Sheet5"
      as a dict of `DataFrame`
    * ``None``: All worksheets.

header : int, list of int, default 0
    Row (0-indexed) to use for the column labels of the parsed
    DataFrame. If a list of integers is passed those row positions will
    be combined into a ``MultiIndex``. Use None if there is no header.
names : array-like, default None
    List of column names to use. If file contains no header row,
    then you should explicitly pass header=None.
index_col : int, str, list of int, default None
    Column (0-indexed) to use as the row labels of the DataFrame.
    Pass None if there is no such column.  If a list is passed,
    those columns will be combined into a ``MultiIndex``.  If a
    subset of data is selected with ``usecols``, index_col
    is based on the subset.

    Missing values will be forward filled to allow roundtripping with
    ``to_excel`` for ``merged_cells=True``. To avoid forward filling the
    missing values use ``set_index`` after reading the data instead of
    ``index_col``.
usecols : str, list-like, or callable, default None
    * If None, then parse all columns.
    * If str, then indicates comma separated list of Excel column letters
      and column ranges (e.g. "A:E" or "A,C,E:F"). Ranges are inclusive of
      both sides.
    * If list of int, then indicates list of column numbers to be parsed
      (0-indexed).
    * If list of string, then indicates list of column names to be parsed.
    * If callable, then evaluate each column name against it and parse the
      column if the callable returns ``True``.

    Returns a subset of the columns according to behavior above.
dtype : Type name or dict of column -> type, default None
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
    Use ``object`` to preserve data as stored in Excel and not interpret dtype,
    which will necessarily result in ``object`` dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
    If you use ``None``, it will infer the dtype of each column based on the data.
engine : {'openpyxl', 'calamine', 'odf', 'pyxlsb', 'xlrd'}, default None
    If io is not a buffer or path, this must be set to identify io.
    Engine compatibility :

    - ``openpyxl`` supports newer Excel file formats.
    - ``calamine`` supports Excel (.xls, .xlsx, .xlsm, .xlsb)
      and OpenDocument (.ods) file formats.
    - ``odf`` supports OpenDocument file formats (.odf, .ods, .odt).
    - ``pyxlsb`` supports Binary Excel files.
    - ``xlrd`` supports old-style Excel files (.xls).

    When ``engine=None``, the following logic will be used to determine the engine:

    - If ``path_or_buffer`` is an OpenDocument format (.odf, .ods, .odt),
      then `odf <https://pypi.org/project/odfpy/>`_ will be used.
    - Otherwise if ``path_or_buffer`` is an xls format, ``xlrd`` will be used.
    - Otherwise if ``path_or_buffer`` is in xlsb format, ``pyxlsb`` will be used.
    - Otherwise ``openpyxl`` will be used.
converters : dict, default None
    Dict of functions for converting values in certain columns. Keys can
    either be integers or column labels, values are functions that take one
    input argument, the Excel cell content, and return the transformed
    content.
true_values : list, default None
    Values to consider as True.
false_values : list, default None
    Values to consider as False.
skiprows : list-like, int, or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int) at the
    start of the file. If callable, the callable function will be evaluated
    against the row indices, returning True if the row should be skipped and
    False otherwise. An example of a valid callable argument would be ``lambda
    x: x in [0, 2]``.
nrows : int, default None
    Number of rows to parse.
na_values : scalar, str, list-like, or dict, default None
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values. By default the following values are interpreted
    as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'None',
    'n/a', 'nan', 'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether ``na_values`` is passed in, the behavior is as follows:

    * If ``keep_default_na`` is True, and ``na_values`` are specified,
      ``na_values`` is appended to the default NaN values used for parsing.
    * If ``keep_default_na`` is True, and ``na_values`` are not specified, only
      the default NaN values are used for parsing.
    * If ``keep_default_na`` is False, and ``na_values`` are specified, only
      the NaN values specified ``na_values`` are used for parsing.
    * If ``keep_default_na`` is False, and ``na_values`` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the ``keep_default_na`` and
    ``na_values`` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing ``na_filter=False`` can improve the
    performance of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
parse_dates : bool, list-like, or dict, default False
    The behavior is as follows:

    * ``bool``. If True -> try parsing the index.
    * ``list`` of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * ``list`` of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * ``dict``, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index contains an unparsable date, the entire column or
    index will be returned unaltered as an object data type. If you don`t want to
    parse some cells as date just change their type in Excel to "Text".
    For non-standard datetime parsing, use ``pd.to_datetime`` after ``pd.read_excel``.

    Note: A fast-path exists for iso8601-formatted dates.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`to_datetime` as-needed.
date_format : str or dict of column -> format, default ``None``
   If used in conjunction with ``parse_dates``, will parse dates according to this
   format. For anything more complex,
   please read in as ``object`` and then apply :func:`to_datetime` as-needed.

   .. versionadded:: 2.0.0
thousands : str, default None
    Thousands separator for parsing string columns to numeric.  Note that
    this parameter is only necessary for columns stored as TEXT in Excel,
    any numeric columns will automatically be parsed, regardless of display
    format.
decimal : str, default '.'
    Character to recognize as decimal point for parsing string columns to numeric.
    Note that this parameter is only necessary for columns stored as TEXT in Excel,
    any numeric columns will automatically be parsed, regardless of display
    format.(e.g. use ',' for European data).

    .. versionadded:: 1.4.0

comment : str, default None
    Comments out remainder of line. Pass a character or characters to this
    argument to indicate comments in the input file. Any data between the
    comment string and the end of the current line is ignored.
skipfooter : int, default 0
    Rows at the end to skip (0-indexed).
storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib.request.Request`` as header options. For other
    URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
    forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
    details, and for more examples on storage options refer `here
    <https://pandas.pydata.org/docs/user_guide/io.html?
    highlight=storage_options#reading-writing-remote-files>`_.

dtype_backend : {'numpy_nullable', 'pyarrow'}, default 'numpy_nullable'
    Back-end data type applied to the resultant :class:`DataFrame`
    (still experimental). Behaviour is as follows:

    * ``"numpy_nullable"``: returns nullable-dtype-backed :class:`DataFrame`
      (default).
    * ``"pyarrow"``: returns pyarrow-backed nullable :class:`ArrowDtype`
      DataFrame.

    .. versionadded:: 2.0

engine_kwargs : dict, optional
    Arbitrary keyword arguments passed to excel engine.

Returns
-------
DataFrame or dict of DataFrames
    DataFrame from the passed in Excel file. See notes in sheet_name
    argument for more information on when a dict of DataFrames is returned.

See Also
--------
DataFrame.to_excel : Write DataFrame to an Excel file.
DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Notes
-----
For specific information on the methods used for each Excel engine, refer to the pandas
:ref:`user guide <io.excel_reader>`

Examples
--------
The file can be read using the file name as string or an open file object:

>>> pd.read_excel('tmp.xlsx', index_col=0)  # doctest: +SKIP
       Name  Value
0   string1      1
1   string2      2
2  #Comment      3

>>> pd.read_excel(open('tmp.xlsx', 'rb'),
...               sheet_name='Sheet3')  # doctest: +SKIP
   Unnamed: 0      Name  Value
0           0   string1      1
1           1   string2      2
2           2  #Comment      3

Index and header can be specified via the `index_col` and `header` arguments

>>> pd.read_excel('tmp.xlsx', index_col=None, header=None)  # doctest: +SKIP
     0         1      2
0  NaN      Name  Value
1  0.0   string1      1
2  1.0   string2      2
3  2.0  #Comment      3

Column types are inferred but can be explicitly specified

>>> pd.read_excel('tmp.xlsx', index_col=0,
...               dtype={'Name': str, 'Value': float})  # doctest: +SKIP
       Name  Value
0   string1    1.0
1   string2    2.0
2  #Comment    3.0

True, False, and NA values, and thousands separators have defaults,
but can be explicitly specified, too. Supply the values you would like
as strings or lists of strings!

>>> pd.read_excel('tmp.xlsx', index_col=0,
...               na_values=['string1', 'string2'])  # doctest: +SKIP
       Name  Value
0       NaN      1
1       NaN      2
2  #Comment      3

Comment lines in the excel input file can be skipped using the
``comment`` kwarg.

>>> pd.read_excel('tmp.xlsx', index_col=0, comment='#')  # doctest: +SKIP
      Name  Value
0  string1    1.0
1  string2    2.0
2     None    NaN
File:      c:\users\pomar\appdata\local\programs\python\python312\lib\site-packages\pandas\io\excel\_base.py
Type:      function

In [ ]:
## %pip install openpyxl
df = pd.read_excel('./Files/data.xlsx', sheet_name=1)
df.head()

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: openpyxl in c:\users\pomar\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\pomar\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

,Age,Sex,ID,Race,Country,Education,Education-Num,Marital Status,Relationship
0,39.0,Male,49084,White,United-States,Bachelors,13.0,Never-married,Not-in-family
1,50.0,Male,68553,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
2,38.0,Male,143654,White,United-States,HS-grad,9.0,Divorced,Not-in-family
3,53.0,Male,41510,Black,United-States,11th,7.0,Married-civ-spouse,Husband
4,28.0,Female,195025,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife

In [64]:
df = pd.read_excel('./Files/data.xlsx', sheet_name=1, usecols='C:G,I')
df.head()

       ID    Race         Country   Education  Education-Num    Relationship
0   49084   White   United-States   Bachelors           13.0   Not-in-family
1   68553   White   United-States   Bachelors           13.0         Husband
2  143654   White   United-States     HS-grad            9.0   Not-in-family
3   41510   Black   United-States        11th            7.0         Husband
4  195025   Black            Cuba   Bachelors           13.0            Wife

Usar `pd.ExcelFile()` es útil cuando necesitas trabajar con un archivo de Excel que contiene múltiples hojas y deseas acceder a ellas de manera eficiente.

In [65]:
xls = pd.ExcelFile('./Files/data.xlsx') # objeto que referencia a la hoja de cálculo
type(xls)

pandas.io.excel._base.ExcelFile

In [66]:
xls.sheet_names

['Sheet1', 'Sheet1_2']

In [67]:
sht = xls.parse(sheet_name='Sheet1_2')
sht.head()

,Age,Sex,ID,Race,Country,Education,Education-Num,Marital Status,Relationship
0,39.0,Male,49084,White,United-States,Bachelors,13.0,Never-married,Not-in-family
1,50.0,Male,68553,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
2,38.0,Male,143654,White,United-States,HS-grad,9.0,Divorced,Not-in-family
3,53.0,Male,41510,Black,United-States,11th,7.0,Married-civ-spouse,Husband
4,28.0,Female,195025,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife

In [68]:
# Como serializar (guardar) a CSV
sht.to_csv('sht.csv', index=False) # Index: False, no incluye el indice
!head sht.csv

"head" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [69]:
# Como serializar (guardar) a XLSX (Excel)
sht.to_excel('Otro.xlsx', index=False)
#!head Otro.xlsx

In [70]:
pd.to_pickle(sht, 'serializado.pkl')