# Actividad 1

Jorge Emiliano Pomar A01709338

In [ ]:
import pandas as pd

df = pd.read_csv("california_housing_test.csv")

In [2]:
media = df["total_bedrooms"].mean()
mediana = df["total_bedrooms"].median()
moda = df["total_bedrooms"].mode()

print(
    """
      Media: %f
      Mediana: %f
      Moda: %f
      """
    % (media, mediana, moda)
)

      Media: 529.950667
      Mediana: 437.000000
      Moda: 314.000000

C:\Users\pomar\AppData\Local\Temp\ipykernel_19800\934525913.py:6: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  """