# Análisis descriptivo EDA
Para su trabajo incluir:
Media,
Mediana,
Moda,
Desviación Estándar
Coeficiente de Variación
Quantiles (Al menos Cuartiles)
Análisis de Frecuencias
Gráficas


Leonardo Antonio Espinosa // A01710961
Adrián Rodríguez González // A01710823
Andrea Cristina Ramírez Parra // A01749899
Jorge Emiliano Pomar // A01709338

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("Highest Holywood Grossing Movies.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  1000 non-null   int64
 1   Title                       1000 non-null   object
 2   Movie Info                  1000 non-null   object
 3   Year                        1000 non-null   int64
 4   Distributor                 999 non-null    object
 5   Budget (in $)               1000 non-null   object
 6   Domestic Opening (in $)     1000 non-null   object
 7   Domestic Sales (in $)       1000 non-null   int64
 8   International Sales (in $)  1000 non-null   int64
 9   World Wide Sales (in $)     1000 non-null   int64
 10  Release Date                1000 non-null   object
 11  Genre                       1000 non-null   object
 12  Running Time                1000 non-null   object
 13  License                     943 non-null    object
dtypes: int64(5), object(9)
memory usage: 109.5+ KB

In [ ]:
df

,Unnamed: 0,Title,Movie Info,Year,Distributor,Budget (in $),Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),World Wide Sales (in $),Release Date,Genre,Running Time,License
0,0,Avatar,A paraplegic Marine dispatched to the moon Pan...,2009,Twentieth Century Fox,237000000,77025481,785221649,2138484377,2923706026,16-Dec-09,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
1,1,Avengers: Endgame,After the devastating events of Avengers: Infi...,2019,Walt Disney Studios Motion Pictures,356000000,357115007,858373000,1941066100,2799439100,24-Apr-19,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,2,Avatar: The Way of Water,Jake Sully lives with his newfound family form...,2022,20th Century Studios,December 14 2022 (EMEA APAC),134100226,684075767,1636174514,2320250281,24-Apr-19,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
3,3,Titanic,A seventeen-year-old aristocrat falls in love ...,1997,Paramount Pictures,200000000,28638131,674292608,1590450697,2264743305,19-Dec-97,"['Drama', 'Romance']",3 hr 14 min,PG-13
4,4,Star Wars: Episode VII - The Force Awakens,"As a new threat to the galaxy rises, Rey, a de...",2015,Walt Disney Studios Motion Pictures,245000000,247966675,936662225,1134647993,2071310218,16-Dec-15,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,Sweet Home Alabama,A young woman who has reinvented herself as a ...,2002,Walt Disney Studios Motion Pictures,30000000,35648740,127223418,53399006,180622424,27-Sep-02,"['Comedy', 'Romance']",1 hr 48 min,PG-13
996,996,Daddy's Home 2,Having finally gotten used to each other's exi...,2017,Paramount Pictures,69000000,29651193,104029443,76584381,180613824,9-Nov-17,['Comedy'],1 hr 40 min,PG-13
997,997,Hacksaw Ridge,World War II American Army Medic Desmond T. Do...,2016,Lionsgate,40000000,15190758,67209615,113354021,180563636,3-Nov-16,"['Biography', 'Drama', 'History', 'War']",2 hr 19 min,R
998,998,Deja Vu,"After a ferry is bombed in New Orleans, an A.T...",2006,Walt Disney Studios Motion Pictures,75000000,20574802,64038616,116518934,180557550,22-Nov-06,"['Action', 'Crime', 'Sci-Fi', 'Thriller']",2 hr 6 min,PG-13
999,999,M3GAN,A robotics engineer at a toy company builds a ...,2022,Universal Pictures,December 28 2022 (EMEA),30429860,95043350,84925523,179968873,22-Nov-06,"['Action', 'Crime', 'Sci-Fi', 'Thriller']",2 hr 6 min,PG-13

In [ ]:
df['Budget (in $)'] = pd.to_numeric(df['Budget (in $)'].str.replace('[\$,]', '', regex=True), errors='coerce')
df['Domestic Opening (in $)'] = pd.to_numeric(df['Domestic Opening (in $)'].str.replace('[\$,]', '', regex=True), errors='coerce')

In [ ]:
mean_values = df.mean(numeric_only=True)
print(mean_values)

Unnamed: 0                    4.995000e+02
Year                          2.008181e+03
Budget (in $)                 9.742392e+07
Domestic Opening (in $)       4.269505e+07
Domestic Sales (in $)         1.646405e+08
International Sales (in $)    2.640890e+08
World Wide Sales (in $)       4.228430e+08
dtype: float64

In [ ]:
median_values = df.median(numeric_only=True)
print(median_values)

Unnamed: 0                          499.5
Year                               2010.0
Budget (in $)                  85000000.0
Domestic Opening (in $)        32790735.0
Domestic Sales (in $)         134916907.5
International Sales (in $)    194107663.0
World Wide Sales (in $)       319714782.0
dtype: float64

In [ ]:
mode_values = df.mode().iloc[0]
print(mode_values)

Unnamed: 0                                                                    0
Title                                                                   Aladdin
Movie Info                    A kind-hearted street urchin and a power-hungr...
Year                                                                     2016.0
Distributor                                                        Warner Bros.
Budget (in $)                                                       150000000.0
Domestic Opening (in $)                                                  7456.0
Domestic Sales (in $)                                                      6752
International Sales (in $)                                          135000000.0
World Wide Sales (in $)                                             182016617.0
Release Date                                                          20-Mar-14
Genre                                         ['Action', 'Adventure', 'Sci-Fi']
Running Time                                                        1 hr 46 min
License                                                                   PG-13
Name: 0, dtype: object

In [ ]:
std_values = df.std(numeric_only=True)
print(std_values)

Unnamed: 0                    2.888194e+02
Year                          1.058585e+01
Budget (in $)                 6.069353e+07
Domestic Opening (in $)       3.926199e+07
Domestic Sales (in $)         1.197541e+08
International Sales (in $)    2.133847e+08
World Wide Sales (in $)       3.054844e+08
dtype: float64

In [ ]:
cv_values = (std_values / mean_values) * 100
print(cv_values)

Unnamed: 0                    57.821709
Year                           0.527136
Budget (in $)                 62.298390
Domestic Opening (in $)       91.959103
Domestic Sales (in $)         72.736705
International Sales (in $)    80.800314
World Wide Sales (in $)       72.245341
dtype: float64

In [ ]:
quantiles = df.quantile([0.25, 0.5, 0.75], numeric_only=True)
quantiles

,Unnamed: 0,Year,Budget (in $),Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),World Wide Sales (in $)
0.25,249.75,2002.0,50000000.0,19975784.0,95725056.0,1.321190e+08,227289939.5
0.50,499.50,2010.0,85000000.0,32790735.0,134916907.5,1.941077e+08,319714782.0
0.75,749.25,2016.0,140000000.0,54589324.5,198399283.0,3.188993e+08,485236269.5

## Para este EDA, nos concentraremos principalmente en la distribución de películas más taquilleras a través de los años. Para esto, primero lo acomodaremos en décadas usando bins.

In [ ]:
bins = list(range(df['Year'].min(), df['Year'].max() + 1, 10))
out = pd.cut(df['Year'], bins=bins)
out.value_counts()

Year
(2007, 2017]    428
(1997, 2007]    245
(1987, 1997]    118
(1977, 1987]     20
(1967, 1977]      6
(1937, 1947]      2
(1957, 1967]      2
(1947, 1957]      0
Name: count, dtype: int64

- Aquí podemos observar que el rango de años en los que más han habido películas taquilleras es entre 2007 y 2017.

![image.png]()