# Clase 3 Actividad 4
- Jorge Emiliano Pomar 
- A01709338
- Fecha: 1 de abril de 2025

Carga la serie de datos en el archivo pesos.csv y crea una tabla de distribución de frecuencias por intervalo de amplitud de clase 5.

In [1]:
import pandas as pd

df = pd.read_csv('pesos.csv')

In [4]:
df

    Peso Intervalo
0     60     57-61
1     66     62-66
2     77     77-81
3     70     67-71
4     66     62-66
..   ...       ...
75    70     67-71
76    66     62-66
77    62     62-66
78    63     62-66
79    66     62-66

[80 rows x 2 columns]

In [11]:
bins = list(range(df['Peso'].min(), df['Peso'].max() + 1, 5))
out = pd.cut(df['Peso'], bins=bins)
out.value_counts()

Peso
(62, 67]    28
(67, 72]    20
(57, 62]    13
(72, 77]     9
(52, 57]     4
(77, 82]     4
Name: count, dtype: int64