In [1]:
import pandas as pd 

df = pd.read_csv('NVIDIA_Stock_Volatility_2014_2024.csv')
df

,Date,Close,High,Low,Open,Volume,Daily_Return,Rolling_Volatility,ATR,Rolling_Mean,Upper_Band,Lower_Band
0,2014-01-31,0.370194,0.372316,0.365242,0.365478,335348000,-0.001272,0.016288,0.007461,0.372964,0.385216,0.360713
1,2014-02-03,0.365242,0.373259,0.363827,0.372787,431728000,-0.013376,0.016343,0.007293,0.372752,0.385398,0.360106
2,2014-02-04,0.367364,0.368071,0.363120,0.365006,280692000,0.005810,0.016091,0.006787,0.372398,0.385240,0.359557
3,2014-02-05,0.364063,0.365949,0.361233,0.364770,214676000,-0.008986,0.015657,0.006838,0.371573,0.384325,0.358821
4,2014-02-06,0.368779,0.369722,0.364063,0.364535,168380000,0.012953,0.015622,0.006990,0.370724,0.381627,0.359821
...,...,...,...,...,...,...,...,...,...,...,...,...
2536,2024-02-29,79.089577,79.967326,78.327792,79.071584,507289000,0.018658,0.043006,3.435667,72.529888,82.126502,62.933274
2537,2024-03-01,82.255676,82.276674,79.412481,79.977323,479135000,0.040032,0.043356,3.481655,73.492215,82.927602,64.056827
2538,2024-03-04,85.212837,87.670141,83.695270,84.106149,615616000,0.035951,0.042870,3.628399,74.445794,84.581983,64.309604
2539,2024-03-05,85.943665,86.076636,83.397270,85.249828,520639000,0.008576,0.042105,3.546289,75.277359,86.327912,64.226807
2540,2024-03-06,88.679016,89.702776,87.009413,88.001183,582520000,0.031827,0.041813,3.650700,76.301127,88.341849,64.260405

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2541 entries, 0 to 2540
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                2541 non-null   object
 1   Close               2541 non-null   float64
 2   High                2541 non-null   float64
 3   Low                 2541 non-null   float64
 4   Open                2541 non-null   float64
 5   Volume              2541 non-null   int64
 6   Daily_Return        2541 non-null   float64
 7   Rolling_Volatility  2541 non-null   float64
 8   ATR                 2541 non-null   float64
 9   Rolling_Mean        2541 non-null   float64
 10  Upper_Band          2541 non-null   float64
 11  Lower_Band          2541 non-null   float64
dtypes: float64(10), int64(1), object(1)
memory usage: 238.3+ KB