# Evidencia 2. Evaluación integradora

- Jorge Emiliano Pomar 
- A01709338
- 21 de marzo de 2025

In [39]:
import pandas as pd

## Pregunta 1
Imprime el total de registros no nulos en la columna “embarazos”.

In [40]:
df = pd.read_csv('Diabetes.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   embarazos  419 non-null    float64
 1   plasma     488 non-null    float64
 2   presion    497 non-null    int64
 3   masa       497 non-null    float64
 4   edad       497 non-null    int64
 5   estado     497 non-null    object
dtypes: float64(3), int64(2), object(1)
memory usage: 23.4+ KB

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   embarazos  419 non-null    float64
 1   plasma     488 non-null    float64
 2   presion    497 non-null    int64
 3   masa       497 non-null    float64
 4   edad       497 non-null    int64
 5   estado     497 non-null    object
dtypes: float64(3), int64(2), object(1)
memory usage: 23.4+ KB

In [42]:
df.isnull().sum()

embarazos    78
plasma        9
presion       0
masa          0
edad          0
estado        0
dtype: int64

## Pregunta 2
Borra a los pacientes con los índices 5, 20 y 60 e imprime el conteo de registros no nulos por columna con el total actualizado.

In [43]:
df = df.drop(index=[5, 20, 60])

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 494 entries, 0 to 496
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   embarazos  416 non-null    float64
 1   plasma     485 non-null    float64
 2   presion    494 non-null    int64
 3   masa       494 non-null    float64
 4   edad       494 non-null    int64
 5   estado     494 non-null    object
dtypes: float64(3), int64(2), object(1)
memory usage: 27.0+ KB

## Pregunta 3
Despliega la descripción estadística del dataframe actualizado (redondeado a 2 dígitos) y completa la información para la variable edad:

In [45]:
datos_nuevos = pd.DataFrame(dict(
    embarazos= [2, 7, 6],
    plasma= [81,195,154],
    presion=[72, 70, 74],
    masa=[30.1, 25.1, 29.3],
    edad=[25, 55, 39],
    estado=['negative', 'positive', 'negative']
))
datos_nuevos

   embarazos  plasma  presion  masa  edad    estado
0          2      81       72  30.1    25  negative
1          7     195       70  25.1    55  positive
2          6     154       74  29.3    39  negative

In [46]:
datos_nuevos['embarazos'] = datos_nuevos['embarazos'].astype(float)

df = pd.merge(df, datos_nuevos, how='outer')

In [47]:
df.describe().T.round(2)

           count    mean    std   min    25%    50%    75%    max
embarazos  419.0    4.52   3.18   1.0    2.0    4.0    7.0   17.0
plasma     488.0  121.72  32.54   0.0  100.0  118.0  143.0  197.0
presion    497.0   68.84  19.23   0.0   64.0   70.0   80.0  122.0
masa       497.0   32.04   8.09   0.0   27.1   32.0   36.6   67.1
edad       497.0   33.14  11.65  21.0   24.0   29.0   40.0   81.0

## Pregunta 4
Reemplaza los valores nulos de la columna “embarazos” por 0 y los de la columna “plasma” por la mediana de los pacientes.

Consulta los promedios (2 decimales) de ambas variables (posterior a imputación) y responde:
Promedio de "embarazos":
Promedio de "plasma":

Reemplazar nulos de embarazos con 0

In [48]:
df['embarazos'].fillna(0, inplace=True)

C:\Users\pomar\AppData\Local\Temp\ipykernel_52132\4016700425.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['embarazos'].fillna(0, inplace=True)

Reemplazar nulos de plasma con la mediana.

In [49]:
df['plasma'].fillna(df['plasma'].median(), inplace=True)

C:\Users\pomar\AppData\Local\Temp\ipykernel_52132\3526518911.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['plasma'].fillna(df['plasma'].median(), inplace=True)

Calcular promedios

In [50]:
promedio_embarazos = df['embarazos'].mean().round(2)
promedio_plasma = df['plasma'].mean().round(2)

In [51]:
promedio_embarazos

3.81

In [52]:
promedio_plasma

121.65

## Pregunta 5
Imprime los tres pacientes con la presión arterial más alta y rellena los campos con los valores en orden descendente

In [53]:
top_pacientes_presion_alta = df.nlargest(5, 'presion', keep='first')
top_pacientes_presion_alta

     embarazos  plasma  presion  masa  edad    estado
30         1.0    96.0      122  22.4    27  negative
384        9.0   171.0      110  45.4    54  positive
467        0.0   129.0      110  67.1    26  positive
250        5.0   103.0      108  39.2    65  negative
268        5.0   137.0      108  48.8    37  positive

## Pregunta 6
Imprime la presión promedio de pacientes que NO tienen diabetes:

In [54]:
presion_promedio_no_diabetes = df[df['estado'] == 'negative']['presion'].mean().round(2)
presion_promedio_no_diabetes

68.33

## Pregunta 7
De acuerdo a la mediana, ¿Quién tiene la mayor cantidad de embarazos, los pacientes con diabetes (positive) o los que no tienen (negative)?

Nota: Para responder a la pregunta codifica de manera que se despliegue "Los pacientes con/sin diabetes tienen más embarazos: XX.XX"

Se calcula la mediana de los que tienen diabetes y los que no tienen.

In [55]:
mediana_tiene = df[df['estado'] == 'positive']['embarazos'].median()
mediana_notiene = df[df['estado'] == 'negative']['embarazos'].median()

Si la mediana de los que tienen diabetes es mas grande de los que no tienen entonces se despliega quien tiene mas junto con el calculo de la mediana.

In [56]:
if mediana_tiene > mediana_notiene:
    print("Los pacientes con diabetes tienen más embarazos: %.2f" % mediana_tiene)
else:
    print("Los pacientes sin diabetes tienen más embarazos: %.2f" % mediana_notiene)

Los pacientes con diabetes tienen más embarazos: 4.00

## Pregunta 8
Genera una consulta (mask) y responde a la pregunta ¿Cuántos pacientes diabéticos tienen entre 20 y 40 años?

In [57]:
pacientes_diabeticos_20_40 = df[(df['estado'] == 'positive') & (df['edad'] >= 20) & (df['edad'] <= 40)]
cantidad_pacientes = len(pacientes_diabeticos_20_40)
cantidad_pacientes

120

## Pregunta 9
Ahora trabajaremos con otra fuente de información: `Mental Health Survey Data`. Estos son datos recolectados por la Open Source Mental Illness (OSMI) usando respuestas a cuestionarios de los años 2014, 2016, 2017, 2018 y 2019. Cada cuestionario mide comportamientos de salud mental y frecuencia de desórdenes de salud mental en el lugar de trabajo.

La base de datos SQLite contiene 3 tablas: Survey, Question, y Answer:

    Survey (PRIMARY KEY INT SurveyID, TEXT Description)
    Question (PRIMARY KEY QuestionID, TEXT QuestionText)
    Answer (PRIMARY/FOREIGN KEY SurveyID, PRIMARY KEY UserID, PRIMARY/FOREIGN KEY QuestionID, TEXT AnswerText) 

 

Algunas consideraciones:

    SurveyID es simplemente el año de la encuesta, es decir, 2014, 2016, 2017, 2018, 2019.
    La misma pregunta se puede utilizar para varias encuestas.
    La tabla de respuestas (Answer) es una tabla compuesta con varias claves primarias. SurveyID y QuestionID son FOREIGN KEYS.
    Algunas preguntas pueden contener varias respuestas, por lo que el mismo usuario puede aparecer más de una vez para ese ID de pregunta. 

Carga cada tabla del archivo .sqlite a un DataFrame, posteriormente, completa la siguiente información de cada dataframe en la tabla:

Importar y hacer conexion a bd

In [58]:
import sqlite3

conn = sqlite3.connect("mental_health.sqlite")
conn

Hacer consulta de seleccion de toda la tabla a cada tabla

In [59]:
df_survey = pd.read_sql_query("SELECT * FROM Survey", conn)
df_question = pd.read_sql_query("SELECT * FROM Question", conn)
df_answer = pd.read_sql_query("SELECT * FROM Answer", conn)

Informacion de cada dataframe

In [60]:
df_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SurveyID     5 non-null      int64
 1   Description  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

In [61]:
df_question.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   questiontext  105 non-null    object
 1   questionid    105 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.8+ KB

In [62]:
df_answer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236898 entries, 0 to 236897
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   AnswerText  236898 non-null  object
 1   SurveyID    236898 non-null  int64
 2   UserID      236898 non-null  int64
 3   QuestionID  236898 non-null  int64
dtypes: int64(3), object(1)
memory usage: 7.2+ MB

## Pregunta 10


Utilizando alguna función de combinación de dataframes de pandas (no consulta SQL), crea un nuevo DataFrame llamado answers que integre los textos del dataframe de preguntas junto con el DataFrame de respuestas.

¿Cuáles son las dimensiones del dataframe resultante?

Columnas:

Filas:

 

    Nota 1: No basta con cualquier tipo de operación de unión, debe haber correspondencia.
    Nota 2: Revisa que el resultado no repita información en columnas.

Inner Join para evitar perdida de datos. Tambien uso left y right on para mantener las primary key.

In [63]:
answers = pd.merge(df_answer, df_question, left_on='QuestionID', right_on='questionid', how='inner').drop(columns=['questionid'])
answers.shape

(236898, 5)

In [65]:
answers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236898 entries, 0 to 236897
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   AnswerText    236898 non-null  object
 1   SurveyID      236898 non-null  int64
 2   UserID        236898 non-null  int64
 3   QuestionID    236898 non-null  int64
 4   questiontext  236898 non-null  object
dtypes: int64(3), object(2)
memory usage: 9.0+ MB

In [64]:
answers.duplicated().sum()

0

## Pregunta 11

De ese dataframe answers, filtra las filas con respuestas a la pregunta de edad (What is your age?) a otro dataframe answers_edad.
Realiza las modificaciones necesarias para poder operar con la columna AnswerText en ese dataframe.
Mediante agrupamiento, calcula la edad promedio de los usuarios que respondieron por año. Reporta tus resultados redondeando a 2 decimales.

Copia de answers en nuevo df con la pregunta what is your age?

In [68]:
answers_edad = answers[answers['questiontext'] == 'What is your age?'].copy()

Cambiamos answers text a valores numericos.

In [69]:
answers_edad['AnswerText'] = pd.to_numeric(answers_edad['AnswerText'], errors='coerce')

Hacemos un df con la edad promedio por año.

In [70]:

edad_promedio_por_anio = answers_edad.groupby('SurveyID')['AnswerText'].mean().round(2)

edad_promedio_por_anio

SurveyID
2014    32.13
2016    34.29
2017    34.89
2018    34.92
2019    35.49
Name: AnswerText, dtype: float64

## Pregunta 12
De ese DataFrame (answers_edad), utiliza el método de detección de valores atípicos según Rango Interquartílico para la columna con la edad. Indica la cantidad de atípicos (no elimines):

In [74]:
df_cln = answers_edad.copy()
q1 = df_cln['AnswerText'].quantile(0.25)
q3 = df_cln['AnswerText'].quantile(0.75)
iqr = q3 - q1

lower = q1 - 1.5 * iqr
upper = q3 + 1.5 * iqr

outliers = df_cln[(df_cln['AnswerText'] < lower) | (df_cln['AnswerText'] > upper)]
cantidad_atipicos = len(outliers)
cantidad_atipicos

124